* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
}

#root {
  height: 100%;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

a {
  color: rgb(35, 33, 33);
  text-decoration: none;
}

.active {
  color: rgb(158, 21, 21);
}
